@mixin content-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}